
<div class="glossary-container">
  <div class="glossary-row">
    <section class="glossary">
      <div class="table">
        <table border="1">
            <tr>
              <th>Network</th>
              <th>Abbrev</th> 
              <th>Program</th>
              <th>Abbrev</th> 
            </tr>
            <% @networks.each do |network| %>
                <% network.programs.each do |program| %>
                <tr>
                  <td><%= network.name %></td>
                  <td><%= network.abbrev %></td>
                  <td><%= program.name %></td>
                  <td><%= program.abbrev %></td>
                </tr>
              <% end%>
            <% end%>
          </table>
      </div>
      <div class="table">
        <table border="1">
            <tr>
              <th>Season</th>
              <th>Abbrev</th>
            </tr>
            <% @seasons.each do |season| %>
              <tr>
                <td><%= season.name %></td>
                <td><%= season.abbrev %>
              </tr>
            <% end %>
          </table>
      </div>
      <div class="table">
        <table border="1">
            <tr>
              <th>Campaign Type</th>
              <th>Abbrev</th>
            </tr>
            <% @campaign_types.each do |campaign| %>
              <tr>
                <td><%= campaign.name %></td>
                <td><%= campaign.abbrev %>
              </tr>
            <% end %>
          </table>
      </div>
      <div class="table">
        <table border="1">
            <tr>
              <th>Publisher</th>
              <th>Abbrev</th>
            </tr>
            <% @publishers.each do |publisher| %>
              <tr>
                <td><%= publisher.name %></td>
                <td><%= publisher.abbrev %>
              </tr>
            <% end %>
          </table>
      </div>
      <div class="table">
        <table border="1">
            <tr>
              <th>Buy Method</th>
              <th>Abbrev</th>
            </tr>
            <% @buy_methods.each do |method| %>
              <tr>
                <td><%= method.name %></td>
                <td><%= method.abbrev %>
              </tr>
            <% end %>
          </table>
      </div>
      <div class="table">
        <table border="1">
            <tr>
              <th>Inventory Type</th>
              <th>Abbrev</th>
              <th>Definition</th>
            </tr>
            <% @inventory_types.each do |type| %>
              <tr>
                <td><%= type.name %></td>
                <td><%= type.abbrev %>
                <td><%= type.definition %>
              </tr>
            <% end %>
          </table>
      </div>
      <div class="table">
        <table border="1">
            <tr>
              <th>Episode</th>
              <th>Abbrev</th>
            </tr>
            <% @episodes.each do |episode| %>
              <tr>
                <td><%= episode.name %></td>
                <td><%= episode.abbrev %>
              </tr>
            <% end %>
          </table>
      </div>
       <div class="table">
        <table border="1">
            <tr>
              <th>Tactic</th>
              <th>Abbrev</th>
            </tr>
            <% @tactics.each do |tactic| %>
              <tr>
                <td><%= tactic.name %></td>
                <td><%= tactic.abbrev %>
              </tr>
            <% end %>
          </table>
      </div>
       <div class="table">
        <table border="1">
            <tr>
              <th>Device</th>
              <th>Abbrev</th>
            </tr>
            <% @devices.each do |device| %>
              <tr>
                <td><%= device.name %></td>
                <td><%= device.abbrev %>
              </tr>
            <% end %>
          </table>
      </div>
       <div class="table">
        <table border="1">
            <tr>
              <th>Ad Type</th>
              <th>Abbrev</th>
              <th>Definition</th>
            </tr>
            <% @ad_types.each do |type| %>
              <tr>
                <td><%= type.name %></td>
                <td><%= type.abbrev %>
                <td><%= type.definition %>
              </tr>
            <% end %>
          </table>
      </div>
      <div class="table">
        <table border="1">
            <tr>
              <th>Targeting Type</th>
              <th>Abbrev</th>
              <th>Definition</th>
            </tr>
            <% @targeting_types.each do |type| %>
              <tr>
                <td><%= type.name %></td>
                <td><%= type.abbrev %></td>
                <td><%= type.definition %></td>
              </tr>
            <% end %>
          </table>
      </div>
       <div class="table">
        <table border="1">
            <tr>
              <th>Video Length</th>
            </tr>
            <% @video_lengths.each do |length| %>
              <tr>
                <td><%= length.name %></td>
              </tr>
            <% end %>
          </table>
      </div>
       <div class="table">
        <table border="1">
            <tr>
              <th>Creative Group</th>
              <th>Abbrev</th>
              <th>Definition</th>
            </tr>
            <% @creative_groups.each do |group| %>
              <tr>
                <td><%= group.name %></td>
                <td><%= group.abbrev %></td>
                <td><%= group.definition %></td>
              </tr>
            <% end %>
          </table>
      </div>
      <div class="table">
        <table border="1">
            <tr>
              <th>Creative Message</th>
              <th>Abbrev</th>
            </tr>
            <% @creative_messages.each do |message| %>
              <tr>
                <td><%= message.name %></td>
                <td><%= message.abbrev %></td>
              </tr>
            <% end %>
          </table>
      </div>
      <div class="table">
        <table border="1">
            <tr>
              <th>A/B Test Label</th>
              <th>Abbrev</th>
            </tr>
            <% @abtest_labels.each do |label| %>
              <tr>
                <td><%= label.name %></td>
                <td><%= label.abbrev %></td>
              </tr>
            <% end %>
          </table>
      </div>
    </section>
  </div>
</div>
