<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Hello! A new naming convention value has been requested.</h3>
    <p>Name: <%= detail['name'] %></p>
    <p>Email: <%= detail['email'] %></p>
    <hr>
    <p>Brand: <%= detail['brand'] %></p>
    <p>Dimension Selection: <%= detail['dimension'] %></p>
    <p>Dimension Value: <%= detail['dimension_value'] %></p>
    <p>Additional Comments: <%= detail['additional'] %></p>
  </body>
</html>