<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>A new naming convention value has been requested.</p>

    <%= link_to 'View/Edit Request', request %>

    <ul>
      <li><b>Name:</b> <%= request.requestor %></li>
      <li><b>Email:</b> <%= request.requestor_email %></li>
      <li><b>Brand:</b> <%= request.brand %></li>
      <li><b>Dimension:</b> <%= request.dimension %></li>
      <li><b>Value:</b> <%= request.dimension_value %></li>
      <li><b>Comments:</b> <%= request.comments %></li>
    </ul>
  </body>
</html>
