<div class='requests-container'>
  <div class='row'>
    <section class='edit'>
    <h2>Edit Request</h2>
    </section>
    <section class='edit-form'>
      <h4>Requested by <%= @request.requestor %> on <%= @request.created_at.strftime('%m/%d/%Y') %></h4>
      <%= form_for @request do |f| %>
        <label>Status</label>
        <%= f.select :status, options_for_select(['In Progress', 'Did Not Include', 'Added'], @request.status)%><br>
        <label>Dimension Selection</label>
        <%= f.text_field :dimension, :readonly => true %><br>
        <label>Requested Dimension Value</label>
        <%= f.text_field :dimension_value, :readonly => true %><br>
        <label>Brand</label>
        <%= f.text_field :brand, :readonly => true %><br>
        <label>Additional Info</label><br>
        <%= f.text_area :additional_info %><br>
        <br>
        <label>Comments</label><br>
        <%= f.text_area :comments %><br>
        <br>
        <%= link_to 'Cancel', :back %><%= f.submit 'Submit', id: 'request-edit' %>
      <% end %>
    </section>
  </div>
</div>