<div class='request-container'>
   <section class='request'>
      <h3>Edit Request</h3>

      <dl>
        <dt>Requested By</dt> <dd> <%= @request.requestor %> </dd>
        <dt>Date</dt> <dd> <%= @request.created_at.strftime('%m/%d/%Y') %> </dd>
        <dt>Dimension</dt> <dd> <%= @request.dimension %> </dd>
        <dt>Value</dt> <dd> <%= @request.dimension_value %> </dd>
        <dt>Brand</dt> <dd> <%= @request.brand %> </dd>
        <dt>Additional Info</dt> <dd> <%= @request.additional_info %> </dd>
      </dl>

      <%= form_for @request do |f| %>
        <p>Status</p>
        <%= f.select :status, options_for_select(['In Progress', 'Did Not Include', 'Added'], @request.status)%><br>

        <p>Comments</p>
        <%= f.text_area :comments, cols: 80  %><br>
        <br>
        <div class="form-actions">
          <%= link_to 'Cancel', :back %>
          <%= f.submit 'Submit', id: 'submit' %>
        </div>
      <% end %>
    </section>
</div>
