<div class='requests-container'>
  <h2>Requests</h2>

  <section class='requests-table'>
    <section class='filter'>
      <%= form_tag "/requests/filter" do %>
        <span class="filter-option">
          <label>Submitted</label>
          <%= check_box_tag 'submitted', 'true', params[:submitted] == 'true' %>
        </span>
        <span class="filter-option">
          <label>In Progress</label>
          <%= check_box_tag 'in_progress', 'true', params[:in_progress] == 'true' %>
        </span>
        <span class="filter-option">
          <label>Did Not Include</label>
          <%= check_box_tag 'did_not_include', 'true', params[:did_not_include] == 'true' %>
        </span>
        <span class="filter-option">
          <label>Added</label>
          <%= check_box_tag 'added', 'true', params[:added] == 'true' %>
        </span>
        <%= submit_tag 'Filter', class: 'btn btn-default' %>
      <% end %>
    </section>
    <span class="link">
      <%= link_to 'Create New Request', new_request_path %>
    </span>
     <table>
      <tr>
        <th></th>
        <th>Dimension Selection</th>
        <th>Requested Dimension Value</th>
        <th>Brand</th>
        <th>Requested On</th>
        <th>Requestor Email</th>
        <th>Updated On</th>
        <th>Administrator</th>
        <th>Status</th>
      </tr>
      <% @requests.each do |request| %>
        <tr>
          <td><%= link_to 'details', request %></td>
          <td><%= request.dimension %></td>
          <td><%= request.dimension_value %></td>
          <td><%= request.brand %></td>
          <td><%= request.created_at.strftime('%m/%d/%Y') %></td>
          <td><%= request.requestor_email %></td>
          <td><%= request.updated_at.strftime('%m/%d/%Y') %></td>
          <td><%= request.administrator %></td>
          <td><%= request.status %></td>
        </tr>
      <% end %>
    </table>
  </section>
</div>
