<div class='request-container'>
    <section class='request'>
      <h3>Naming Convention Value Request</h3>
      <p>Please submit 1 request for each new value.</p>
      <p class="required">* Required</p>
      <%= form_for :request, url: requests_path do |f| %>

        <label>Name<span style="color: red">*</span></label>
        <%= f.text_field :name, placeholder: "Your name", :required => true %>

        <label>Brand<span style="color: red">*</span></label>
        <%= f.select :brand, Network.all.map{ |a| [a.name] }, :prompt => "Choose", :required => true %>

        <label>Dimension Selection<span style="color: red">*</span></label>
        <%= f.select :dimension, @sorted_dimensions, :prompt => "Choose", :required => true %>

        <label>Requested Dimension Value<span style="color: red">*</span></label>
        <%= f.text_field :dimension_value, placeholder: "Your answer", :required => true %>

        <label>Additional Information or Feedback</label>
        <%= f.text_field :additional, placeholder: "Your answer"%>
        <br>
        <div class="form-actions">
          <%= link_to 'Cancel', :back, class: :cancel %>
          <%= f.submit 'Submit', id: 'submit' %>
        </div>
      <% end  %>
    </section>
</div>
