  <% if !current_user %>
    <div class='login-container'>
      <div class='row'>
        <section class='login'>
          <h2>Login</h2>
          <p>Only users authorized by Viacom Inc. have permission to use this interface.</p>
          <div *ngIf='true'>
            <%= form_for(:user, :url => session_path(:user)) do |f| %>
                <div class="field">
                  <%= f.email_field :email, :id => 'email-login', :placeholder => 'Email Address' %>
                </div>
                <div class="field">
                  <%= f.password_field :password, :id => 'password-login', :placeholder => 'Password' %>
                </div>
                <%= f.submit 'Log In', :class => 'login-button' %><br>
            <% end %>
          </div>
        </section>
      </div>
  </div>
  <% end %>

  <% if current_user %>
    <div class='login-container'>
      <div class='row'>
        <section class='login'>
          <h2>Tag Manager</h2>
          <main-component></main-component>
        </section>
      </div>
    </div>
  <% end %>

  <%= javascript_pack_tag 'angular_app' %>

