<!DOCTYPE html>
<html>
  <head>
    <title>Vmtapp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://unpkg.com/ngx-bootstrap/datepicker/bs-datepicker.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <div class="flexbox-parent">
      <div class="header-container">
          <section class="header">
           <a href="/"><%= image_tag('viacom_logo.png') %>Namestring</a>
           <% if notice %>
             <p class="notice" style="font-size: 14px"><%= notice %></p>
           <% end %>
           <% if alert %>
             <p class="alert" style="font-size: 14px"><%= alert %></p>
           <% end %>
           <% if current_user %>
              <span class="logout-link">
                <%= link_to 'Log Out', destroy_user_session_path, method: :delete %>
                <%= link_to 'Submit New Requests', requests_path %>
              </span>
            <% end %>
            <% if current_user && current_user.admin %>
              <span class="logout-link"><%= link_to 'Admin', admin_root_path %></span>
           <% end %>
           <% if !current_user %>
            <script>localStorage.clear('inputs')</script>
           <% end %>
          </section>
        </div>
      <div class="flexbox-item-grow flexbox-parent">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
