<!DOCTYPE html>
<html>
  <head>
    <title>Vmtapp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <div class="header-container">
    <div class="row">
      <section class="header">
       <a href="/"><%= image_tag('viacom_logo.png') %>Tagging Project</a>
       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
      </section>
    </div>
  </div>
  <body>
    <%= yield %>
  </body>
</html>
