<!DOCTYPE html>
<html>
  <head>
    <title>Vmtapp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <div class="header-container">
    <div class="row">
      <section class="header">
       <a href="/"><%= image_tag('viacom_logo.png') %>Namestring</a>
       <% if current_user %>
          <span class="logout-link">
            <%= link_to 'Log Out', destroy_user_session_path, method: :delete %>
            <%= link_to 'Submit New Requests', requests_path %>
          </span>
        <% end %>
        <% if current_user && current_user.admin %>
          <span class="logout-link"><%= link_to 'Admin', admin_root_path %></span>
       <% end %>
       <% if !current_user %>
        <script>localStorage.clear('inputs')</script>
       <% end %>
      </section>
        <% if notice %>
          <p class="notice"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p class="alert"><%= alert %></p>
        <% end %>
    </div>
  </div>
  <body>
    <%= yield %>
  </body>
</html>
